.match {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    width: 85px;
}

.matchIcon {
    margin-left: 12px;
    margin-bottom: 1px;
}

.issueNumber {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    width: 95px;
    min-width: 95px;
}

.displayTitle {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    word-break: break-all;
}

.filesize {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    white-space: nowrap;
}

.pages {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 85px;
}

.releaser {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 155px;
}

.scanType {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 115px;
}

.resolution {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 115px;
}

.dpi {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 105px;
}

.source {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 90px;
}

.download {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    width: 100px;
}

.manualDownloadContent {
    position: relative;
    display: inline-block;
    margin: 0 2px 2px 1px;
    width: 22px;
    height: 20.39px;
    vertical-align: middle;
    line-height: 20.39px;

    &:hover {
        color: var(--iconButtonHoverColor);
    }
}

.interactiveIcon {
    position: absolute;
    top: 4px;
    left: 0;
    text-align: center;
}

.downloadIcon {
    position: absolute;
    top: 7px;
    left: 8px;
    text-align: center;
}

.rejected {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    width: 50px;
}
