.modalBody {
    composes: modalBody from 'Components/Modal/ModalBody/index.module.css';

    display: flex;
    flex-direction: column;
}

.mappedDrivesWarning {
    composes: alert from 'Components/Alert/index.module.css';

    margin: 0;
    margin-bottom: 20px;
}

.faqLink {
    color: var(--alertWarningColor);
    font-weight: bold;
}

.pathInput {
    composes: inputWrapper from 'Components/Form/PathInput/index.module.css';

    flex: 0 0 auto;
}

.scroller {
    margin-top: 20px;
}

.loading {
    display: inline-block;
    margin-right: auto;
}
