.deleteButton {
    composes: button from 'Components/Link/Button/index.module.css';

    margin-right: auto;
}

.labelIcon {
    margin-left: 8px;
}

.cacheButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
