{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSameLine": false,
    "plugins": ["prettier-plugin-brace-style"],
    "braceStyle": "stroustrup"
}
