.iconContainer {
    composes: spinnerContainer from '../SpinnerButton/index.module.css';
}

.icon {
    z-index: 1;
}

.label {
    composes: label from '../SpinnerButton/index.module.css';
}

.showIcon {
    .iconContainer {
        left: 50%;
        visibility: visible;
    }

    .label {
        left: 100%;
        opacity: 0;
    }
}
