.source {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    width: 95px;
    min-width: 95px;
}

.volumeId {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    width: 75px;
    min-width: 75px;
}

.issueId {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    width: 75px;
    min-width: 75px;
}

.downloadLink {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    &.truncate {
        @add-mixin truncate;
    }
}

.webLink {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    &.truncate {
        @add-mixin truncate;
    }
}

.webTitle {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    &.truncate {
        @add-mixin truncate;
    }
}

.webSubTitle {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    &.truncate {
        @add-mixin truncate;
    }
}

.reason {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    &.truncate {
        @add-mixin truncate;
    }
}

.actions {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
    width: 75px;
    min-width: 75px;
}
