.priority {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 95px;
    width: 95px;
    padding-left: 25px;
}

.status {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    width: 95px;
    padding-left: 20px;
}

.title {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';
}

.sourceName {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 95px;
}

.size {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    min-width: 75px;
}

.speed {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    white-space: nowrap;
    min-width: 85px;
}

.progress {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    width: 150px;
}

.actions {
    composes: cell from 'Components/Table/Cells/TableRowCell/index.module.css';

    width: 75px;
}
