.link {
    composes: link from 'Components/Link/Link.module.css';
}

.unavailablePath {
    display: flex;
    align-items: center;
}

.unavailableLabel {
    composes: label from 'Components/Label.module.css';

    margin-left: 10px;
}

.freeSpace,
.unmappedFolders {
    composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

    width: 150px;
}

.actions {
    composes: cell from 'Components/Table/Cells/TableRowCell.module.css';

    width: 45px;
}
