.deleteButton {
    composes: button from 'Components/Link/Button/index.module.css';

    margin-right: auto;
}

.message {
    composes: alert from 'Components/Alert/index.module.css';

    margin-bottom: 30px;
}
