.hasFileBrowser {
    composes: input from '../AutoSuggestInput/index.module.css';
    composes: hasButton from 'Components/Form/Input.module.css';
}

.inputWrapper {
    display: flex;
}

.pathMatch {
    font-weight: bold;
}

.fileBrowserButton {
    composes: button from '../FormInputButton/index.module.css';

    height: 35px;
}

.fileBrowserMiddleButton {
    composes: middleButton from '../FormInputButton/index.module.css';
}
