.container {
    display: flex;
    padding: 10px 20px;
    width: 100%;

    &:hover {
        background-color: var(--menuItemHoverBackgroundColor);
    }
}

.volumes {
    flex: 1 0 0;
    overflow: hidden;
}

.tvdbLink {
    composes: link from '../../../../Components/Link/Link.module.css';

    margin-left: auto;
    color: var(--textColor);
}

.tvdbLinkIcon {
    margin-left: 10px;
}
