.info {
    background-color: var(--volumeBackgroundColor);
    text-align: center;
    font-size: $smallFontSize;
}

.tags {
    composes: tags from './VolumeIndexPoster.module.css';
}

.tagsList {
    composes: tagsList from './VolumeIndexPoster.module.css';
}
